<h3>ユーザー設定</h3>

<%= link_to "アカウント", :users %>
<%= link_to "プロフィール", current_user %>
<h4>アカウント</h4>

<%= form_with model: current_user do |f| %>
<table>
    <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.text_field :email %></td>
    </tr>

    <tr>
        <th><%= f.label :password, "現在のパスワード" %></th>
        <td><%= f.text_field :password %></td>
    </tr>

    <tr>
        <th><%= f.label :password, "新しいパスワード※変更する場合のみ" %></th>
        <td><%= f.text_field :password %></td>
    </tr>

    <tr>
        <th><%= f.label :password_confirmation, "確認用パスワード※変更する場合のみ" %></th>
        <td><%= f.text_field :password_confirmation %></td>
    </tr>

</table>

<%= f.submit "保存" %>
<%= link_to "キャンセル", :users %>

<% end %>