<h3>ユーザー設定</h3>

<%= link_to "アカウント", :users %>
<%= link_to "プロフィール", current_user %>

<h4>プロフィール</h4>
<table>

    <td>
        <%= link_to "編集", [:edit,current_user] %>
    </td>

    <tr>
        <th>アイコン画像</th>
        <% if current_user.image.attached? %>
            <%= image_tag current_user.image %>
        <% else %>
            <%= image_tag 'default-user.png' %>
        <% end %>
    </tr>

    <tr>
        <th>名前</th>
        <td><%= current_user.name %></td>
    </tr>

    
    <tr>
        <th>自己紹介</th>
        <td></td>
    </tr>

</table>

<%= link_to "戻る", :back%> 