<h3>予約内容の確認</h3>

<table>
    <tr>
        <th>チェックイン</th>
        <td><%= @reservation.check_in.strftime("%Y/%m/%d") %></td>
    </tr>

    <tr>
        <th>チェックイン</th>
        <td><%= @reservation.check_out.strftime("%Y/%m/%d")%></td>
    </tr>

    <tr>
        <th>日数</th>
        <td><%= (@reservation.check_out - @reservation.check_in).to_i %>日</td>
    </tr>

    <tr>
        <th>人数</th>
        <td><%= @reservation.person %>人</td>
    </tr>

    <tr>
        <th>お支払い金額</th>
        <td><%= @reservation.sum_price * @reservation.person * (@reservation.check_out - @reservation.check_in).to_i %>円</td>
    </tr>
</table>  

<p>上記内容で正しければ「確定」ボタンを押してください。</p>

<%= form_with model: @reservation do |f| %>
    <%= f.hidden_field :check_in %>
    <%= f.hidden_field :check_out %>
    <%= f.hidden_field :person %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id %>
    <%= f.hidden_field :sum_price, value: @reservation.sum_price * @reservation.person * (@reservation.check_out - @reservation.check_in).to_i %>
    <%= f.submit"予約を確定"%>

<% end %>