<h3>予約済み施設一覧</h3>

<table>
      <thead>
        <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>予約確定日時</th>
        </tr>
      </thead>
    
      <tbody>
        <% current_user.reservations.each do |reservation| %>
        <tr>
        <td>
            <% if reservation.room.image.attached? %>
                <%= image_tag reservation.room.image %>
            <% else %>
                <%= image_tag 'default-room.png' %>
            <% end %>
        </td>
            <td><%= link_to reservation.room.name, room_path(reservation.room_id) %></td>
            <td><%= reservation.room.description %></td>
            <td>¥<%= reservation.sum_price %></td>
            <td><%= reservation.check_in.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.check_out.strftime("%Y/%m/%d") %></td>
            <td><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= link_to "再予約", [:edit,reservation] %></td>
            
            <td><%= link_to "削除", reservation,
             method: :delete, 
             title: "以下の施設を削除しますか？",
             data: { 
              confirm: " 

             #{reservation.room.name}
             #{reservation.check_in.strftime("%Y/%m/%d")}〜#{reservation.check_out.strftime("%Y/%m/%d")}
             #{reservation.person}人
             ¥#{reservation.sum_price}
             よろしければ「OK」ボタンを押してください。",
             commit: "削除",
             cancel: "キャンセル"
            } 
             
             %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>