<h2>登録済み施設一覧</h2>
<div class="listContainner">
  <table>
      <thead>
        <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        <th colspan="2">設定</th>
        </tr>
      </thead>
    
      <tbody>
        <% current_user.rooms.each do |room| %>
        <tr>
            <td>
            <% if room.image.attached? %>
              <%= image_tag room.image , size: "150x120"%>
            <% else %>
              <%= image_tag 'default-room.png', size: "150x120" %>
            <% end %>
            </td>
            <td><%= link_to room.name, room %></td>
            <td><%= room.description %></td>
            <td>¥<%= room.price.to_s(:delimited) %></td>
            <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
            <td><%= link_to "編集", [:edit,room] %></td>
            <td><%= link_to "削除", room,
             method: :delete, 
             title: "以下の施設を削除しますか？",
             data: { 
              confirm: " 

             #{room.name}
             ¥#{room.price}
             よろしければ「OK」ボタンを押してください。",
             commit: "削除",
             cancel: "キャンセル"
            } 
             %>
            </td>
            
        </tr>
        <% end %>
      </tbody>
  </table>
</div>