<%= render "shared/find" %>

<p class="hotelName">検索結果 <%=@rooms.count %> 件</p>

<div class="hitRoom">
   <% @rooms.each do |room| %> 
    <div class="mainContents">
      <% if room.image.attached? %>
        <%= image_tag room.image, size: "400x300" %></p>
      <% else %>
        <%= image_tag 'default-room.png', size: "400x300" %></p>
      <% end %>
        
      <p class="hotelName"><%= room.name%></p>
      <p><%= room.address %></p>
      <p><%= room.description %></p>
      <p class="hotelPrice">¥<%= room.price.to_s(:delimited) %>~</p>
      <p class="selectButton"><%= link_to "詳細はこちら", room, class: "btn btn-primary btn-lg" %></p>  
    </div>  
   <% end %>
</div>