<table>
      <thead>
        <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
        </tr>
      </thead>
    
      <tbody>
        <% @rooms.each do |room| %>
        <tr>
            <td>
              <% if room.image.attached? %>
                <%= image_tag room.image %>
              <% else %>
                <%= image_tag 'default-room.png' %>
              <% end %>
            </td>
            <td><%= room.name %></td>
            <td><%= room.description %></td>
            <td><%= room.price %></td>
            <td><%= room.created_at %></td>
            <td><%= link_to "詳細はこちら", room %></td>
        </tr>
        <% end %>
    
      </tbody>
    </table>